* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
}
.header__flex {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.header__left,
.header__right {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 37px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
}
.logo__pink {
  color: #f16d7f;
  font-weight: 900;
}
.logo__img {
  margin-right: 13px;
}
.form {
  display: flex;
  align-items: center;
  height: 38px;
  width: 403px;
}
.form__browse {
  width: 80px;
  height: 100%;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  padding: 0 11px;
}
.account__down {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.browse {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 38px;
}
.browse__down {
  color: #838383;
  font-size: 14px;
  font-weight: 400;
}
.icon {
  width: 42px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  height: 40px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 0 3px 3px 0;
}
.form__input {
  width: 290px;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.35px;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
}
.myAccount {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  transition: 0.3s;
}
.myAccount:hover{
  box-shadow: 0 0 3px #f16d7f;
}
.cart {
  margin-right: 26px;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu__link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 20px;
  border-bottom: 3px solid #fff;
}
.menu__list {
  position: relative;
}
.drop {
  position: absolute;
  top: 50px;
  left: -4px;
  padding: 12px 20px;
  border: 1px solid #ececec;
  border-radius: 5px;
  background-color: #ffffff;
  display: none;
}
.drop::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #fff;
  top: -7px;
  left: 32px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.drop__last {
  left: auto;
  right: -5px;
}
.drop__last::before {
  left: auto;
  right: 52px;
}
.menu__list:hover .drop {
  display: flex;
}
.drop__flex {
  margin-right: 46px;
}
.drop__flex:last-of-type {
  margin-right: 0;
}
.drop__topic {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 8px;
}
.drop__link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.drop__link:hover {
  border-bottom: 2px solid #ef5b70;
}
.drop__products {
  list-style: none;
}
.drop__offer {
  width: 255px;
  height: 118px;
  background: url(img/salemenu.jpg);
  position: absolute;
  bottom: 22px;
  right: 20px;
}
.drop__offer_h2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  position: absolute;
  bottom: 9px;
  right: 11px;
  width: 71px;
}
.promo {
  height: 613px;
  background-color: #e8e8e8;
}
.promo__flex {
  height: 100%;
  background-image: url(img/promo-back.jpg);
  background-position: 0 -52px;
  display: flex;
  align-items: center;
}
.promo__content {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}
.promo__text {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 31px;
}
.promo__text_big {
  font-size: 60px;
  line-height: 43px;
  margin-bottom: 20px;
}
.pink {
  color: #f16d7f;
}
.banner {
  margin-top: 98px;
  display: flex;
  flex-flow: column wrap;
  height: 823px;
  width: 1141px;
  justify-content: space-around;
}
.banner:hover .banner__block1 {
   transform: translate(570px, 271px);
 }
.banner:hover .banner__block2 {
  transform: translate(570px, -550px);

}
.banner:hover .banner__block3 {
  transform: translate(-570px, 550px);
}
.banner:hover .banner__block4 {
  transform: translate(-570px, -271px);
}
.banner__block1 {
  width: 560px;
  height: 542px;
  background: url(img/banner_img1.jpg);
  transition: all 2s ;
}
.banner__block3 {
  width: 560px;
  height: 261px;
  background: url(img/banner_img2.jpg);
  transition: all 2s ;
}
.banner__block2 {
  width: 560px;
  height: 261px;
  background-color: #dadad2;
  transition: all 2s ;
}
.banner__block4 {
  width: 560px;
  height: 542px;
  background: url(img/banner_img4.jpg);
  transition: all 2s ;
}
.banner__img3 {
  height: 261px;
  background: url(img/banner_img3.jpg) no-repeat;
  background-position: 148px 0;
}
.banner__content {
  height: 50px;
  background-color: #fff;
  display: inline-block;
  margin-top: 26px;
  padding: 16px;
  float: left;
}
.banner__topic {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.banner__text {
  color: #f16d7f;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.featured_item {
  margin-top: 100px;
}
.featured__topic {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-align: center;
}
.featured__text {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 60px;
}
.featured__catalog {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.featured__list {
  position: relative;
}
.featured__list:hover .product__hover__buttons {
  display: flex;
  justify-content: center;
}
.featured__list:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  transform: scale(1.1);
  transition-duration: 3s;
}
.featured__list:hover .product_img {
  filter: brightness(40%);
}
.add__button:hover {
  box-shadow: 0 0 10px #fff;
  transform: rotate(360deg);
  transition-duration: 2s;
}
.add__button {
  width: 125px;
  height: 39px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  line-height: 39px;
}
.item__name {
  display: block;
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 17px;
}
.item__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.featured__browse {
  width: 212px;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.4px;
  text-align: center;
  margin: 19px auto;
  transition: all 0.3s ;
}
.fas {
  margin-left: 9px;
}
.item__browse {
  color: #fff;
}
.banner__big {
  height: 529px;
  margin-top: 113px;
  background: url(img/banner_back.svg);
}
.banner__offer {
  height: 100%;
  background: url(img/banner_offer.jpg) no-repeat;
  background-position: 0 0;
  margin-right: 43px;
}
.banner__featured {
  width: 298px;
}
.banner__h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 17px;
}
.banner__p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-left: 78px;
  margin-bottom: 20px;
}
.banner__icon {
  margin-right: 32px;
}
.offer__head {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.offer__topic {
  color: #fff;
  float: left;
  margin-top: 149px;
  margin-left: 39px;
}
.offer__text {
  font-size: 32px;
  letter-spacing: 0.9px;
}
.offer__featured {
  float: right;
  margin-top: 48px;
}
.subscribe {
  width: 1618px;
  height: 438px;
  margin: 97px auto;
  background: url(img/subscribe__back.jpg) no-repeat;
}
.quote {
  display: flex;
  width: 570px;
  height: 438px;
  align-items: center;
  border-right: 1px solid #fff;
}
.quote__text {
  width: 386px;
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-bottom: 19px;
}
.quote__name {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}
.quote__place {
  color: #222224;
  font-size: 12px;
  font-weight: 400;
}
.quote__portrait {
  height: 83px;
  margin-right: 28px;
}
.subscribe__flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe__input {
  width: 386px;
  height: 122px;
  text-align: center;
}
.subscribe__topic {
  color: #222224;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase;
}
.subscribe__text {
  color: #222224;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 35px;
}
.subscribe__submit {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.35px;
  transition: all 0.3s ;
}
.email__input {
  width: 230px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
}
.footer {
  margin-top: 109px;
  display: flex;
  justify-content: space-between;
}
.footer__menu {
  width: 608px;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  margin-top: 29px;
  width: 429px;
  height: 180px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.nav__topic {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
}
.nav__list {
  list-style: none;
}
.nav__link {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__bottom {
  margin-top: 89px;
  height: 79px;
  background-color: #e6e6e6;
}
.arr {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}
.social {
  width: 191px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social__link {
  display: block;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.4px;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.3s ;
}
.social__link:hover {
  background-color: #f16d7f;
  color: #fff;
}
.title {
  background-color: #f8f3f4;
  height: 148px;
}
.title__topic {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
}
.bread__link {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.bread__active {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #f16d7f;
  font-weight: 700;
}
.title__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.bread__list {
  display: inline-block;
  list-style: none;
}
.bread__list::before {
  content: '/';
  margin-left: 5px;
  margin-right: 5px;
  color: #7f7f7f;
}
.bread__list:first-child::before {
  content: '';
}
.bread__link:hover {
  color: #f16d7f;
}
.nav__link:hover {
  color: #f16d7f;
  border-bottom: 3px solid #898989;
}
.subscribe__submit:hover,
.mAccount:hover,
.drop__offer:hover,
.featured__browse:hover {
  box-shadow: 0 0 5px #f16d7f;
}
/*-------- css checkout -------*/
.checkout{
  margin-bottom: 93px;
}
.checkout_box{
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.shipping__adress{
  margin-bottom: 79px;
}
.checkout__topic {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px 0;
}
.register__check{
  margin-right: 291px;
}
.check__content{
  display: flex;
  width: 940px;
  padding-left:35px;
}
.check__text{
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.check__offer{
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 34px;
}
.check_input{
  color: #222222;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.check__login{
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 15px;
  width: 358px;
  margin-bottom: 23px;
}
.check_advantages{
  margin-bottom: 38px;
}
.advantages_list{
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}
.advantages_list::before{
  content: "»";
  color: #b3b2b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.check__button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.check__button:hover{
  box-shadow: 0 0 3px #f16d7f;
}
.input__name{
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.required_fields{
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}
.login_block{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}
.login_forgot{
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
/*-------- css single page ------*/
.slider {
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
}
.slider__back {
  background: url(img/slider_back.jpg) no-repeat;
  height: 100%;
  width: 597px;
  margin: 0 auto;
}
.product_description {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: -99px;
  padding: 73px 0;
}
.description {
  text-align: center;
  margin: 0 260px;
  border-bottom: 1px solid #eaeaea;
}
.collection_name {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.product__name {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 67px;
}
.full__description {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 28px;
}
.product__specification {
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
}
.specification {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 44px;
}
.specification__name {
  color: #2f2f2f;
}
.price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 43px;
}
.selection {
  display: flex;
  justify-content: center;
}
.selection__choose {
  margin-right: 53px;
}
.description_choose {
  margin-top: 63px;
}
.selection__add {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  margin: 28px auto;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  line-height: 55px;
}
.pink_cart {
  margin-right: 15px;
}
.suggestion__topic {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 119px;
  margin-bottom: 60px;
}
.suggestion__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
/*----------- css shopping cart ---------*/
.cart__topic {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  margin-top: 90px;
  margin-bottom: 20px;
}
.cart_details:nth-child(1) {
  margin-right: 400px;
}
.cart__list {
  display: flex;
  justify-content: space-between;
  padding: 25px 18px 25px 0;
  border-top: 1px solid #eaeaea;
  align-items: center;
}
.cart__list:last-of-type {
  border-bottom: 1px solid #eaeaea;
}
.cart__product {
  display: flex;
}
.cart__product:nth-child(1) {
  margin-right: 240px;
}
.cart__product_name {
  margin-bottom: 38px;
}
.cart__product_link {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart__product_details {
  font-size: 13px;
  color: #575757;
  font-weight: 400;
}
.cart__product {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
}
.quantity_enter {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
}
.delete_product {
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.fa-times-circle:hover {
  color: #f16d7f;
}
.product_details {
  margin-left: 21px;
}
.details_transcript {
  color: #6f6e6e;
  margin-left: 9px;
}
.cart_buttons {
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart__use {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.cart_checkout_flex {
  display: flex;
  margin-top: 81px;
}
.cart_checkout__topic {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.cart__input {
  width: 317px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 21px;
  padding: 16px 18px;
}
.cart_checkout__text {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
}
.coupon_apply {
  width: 118px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart__proceed {
  background-color: #f5f3f3;
  padding: 41px;
  margin-left: 36px;
}
.cart_result {
  text-align: end;
  padding-bottom: 22px;
  border-bottom: 1px solid #e2e2e2;
}
.sub_result {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.grand_result {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.sub_price {
  margin-left: 15px;
}
.grand_price {
  margin-left: 15px;
  color: #f16d7f;
}
.checkout_proceed {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  margin-top: 17px;
}
.get_quote {
  width: 100px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart_buttons:hover,
.coupon_apply:hover,
.checkout_proceed:hover,
.get_quote:hover,
.selection__add:hover {
  box-shadow: 0 0 5px #f16d7f;
}
.cart_drop {
  display: none;
  position: absolute;
  padding: 21px 17px;
  border: 1px solid #ececec;
  border-radius: 5px;
  background-color: #ffffff;
  left: -22px;
  top: 54px;
}
.cart_drop::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #fff;
  top: -7px;
  left: 32px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.cart_drop_price {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart:hover .cart_drop {
  display: block;
}
.cart_drop_product_list {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #ededed;
  justify-content: space-between;
}
.cart_drop_checkout {
  width: 225px;
  height: 50px;
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  margin-bottom: 11px;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart_drop_fullcart {
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart_drop_product_topic {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart_drop_product_price {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
}
.cart_drop_checkout:hover,
.cart_drop_fullcart:hover {
  box-shadow: 0 0 5px #f16d7f;
}
/*--------------- css product ------------*/
.catalog {
  margin-top: 70px;
}
.catalog__content{
  width: 830px;
  float: right;
}
.catalog__sidebar {
  float: left;
  margin-right: 50px;
}
.sidebar__topic{
  display: flex;
  justify-content: space-between;
  color: #ef5b70;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 235px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
}
.sidebar__list{
  padding: 9px 17px;
}
.sidebar__selector{
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
}
.sidebar__selector:hover{
    color: #ef5b70;
}
.catalog__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.filter__topic{
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.filter__list{
  display: flex;
  flex-wrap: wrap;
  width: 245px;
}
.filter__selector{
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding: 0 12px;
}
.fi{
    border-right: 1px solid #c0c0c0;
}
.filter__selector:hover{
    color: #ef5b70;
}

.catalog__sort{
    display: flex;
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: 50px;
}
.sort__select{
    margin-right: 10px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}
.sort__button{
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    padding: 7px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}
.catalog__product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog__product__list{
    position: relative;
}
.catalog__product__list:hover .product_img{
    filter: brightness(45%);
}
.catalog__product__list:hover .product__hover__buttons{
    display: flex;
}
.catalog__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pager{
    display: flex;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 14px 10px;
}
.pager__link{
    color: #c4c4c4;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
}
.pager__link__active:hover{
    color: #ef5b70;
}
.product__view{
    border-radius: 3px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 45px;

}
.product__view:hover{
    box-shadow: 0 0 5px #ef5b70;
}
.small__button{
  width: 57px;
  height: 38px;
}
.product__hover__buttons {
  position: absolute;
  top: 98px;
  left: 70px;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 127px;
  height: 97px;
}
.feature{
    margin-top: 110px;
    background-color: #222224;
    padding: 90px 0;
}
.feature__box {
    display: flex;
    text-align: center;
}
.feature__topic{
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 32px;
    margin-bottom: 17px;
}
.feature__content{
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.95px;
    letter-spacing: 0.35px;
}